USE [master]
GO
/****** Object:  Database [Deryabin_16_exam]    Script Date: 20.04.2026 10:44:53 ******/
CREATE DATABASE [Deryabin_16_exam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Deryabin_16_exam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Deryabin_16_exam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Deryabin_16_exam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Deryabin_16_exam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Deryabin_16_exam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Deryabin_16_exam]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 20.04.2026 10:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер_заказа] [int] NOT NULL,
	[Название_товара] [nchar](50) NOT NULL,
	[Цена] [decimal](18, 0) NOT NULL,
	[Производитель] [nvarchar](max) NOT NULL,
	[Скидка] [int] NOT NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Номер_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 20.04.2026 10:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты](
	[Номер_отчета] [int] NOT NULL,
	[Номер_поставщика] [int] NOT NULL,
	[Номер_товара] [int] NOT NULL,
	[Номер_пользователя] [int] NOT NULL,
	[Название_поставщика] [nvarchar](50) NOT NULL,
	[Название_товара] [nchar](50) NOT NULL,
	[Цена] [decimal](18, 0) NOT NULL,
	[Единица_измерения] [nvarchar](max) NOT NULL,
	[Остаток_на_складе] [int] NOT NULL,
	[Скидка] [int] NOT NULL,
	[Номер] [nchar](10) NULL,
	[Номер_заказа] [nchar](10) NULL,
 CONSTRAINT [PK_Отчеты] PRIMARY KEY CLUSTERED 
(
	[Номер_отчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 20.04.2026 10:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Номер_пользователя] [int] NOT NULL,
	[Роль] [nchar](20) NOT NULL,
	[Логин] [nchar](20) NOT NULL,
	[Пароль] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Номер_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 20.04.2026 10:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[Номер_поставщика] [int] NOT NULL,
	[Название_поставщика] [nvarchar](50) NOT NULL,
	[Адрес] [nchar](10) NOT NULL,
	[Номер_телефона] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[Номер_поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 20.04.2026 10:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Номер_товара] [int] NOT NULL,
	[Название_товара] [nchar](50) NOT NULL,
	[Описание] [nvarchar](max) NOT NULL,
	[Производитель] [nvarchar](max) NOT NULL,
	[Цена] [decimal](18, 0) NOT NULL,
	[Единица_измерения] [nvarchar](max) NOT NULL,
	[Остаток_на_складе] [int] NOT NULL,
	[Скидка] [int] NULL,
 CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED 
(
	[Номер_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
