<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Deryabin_16.Properties.Settings.Deryabin_16_examConnectionString"
            connectionString="Data Source=0-206-16\SQLEXPRESS;Initial Catalog=Deryabin_16_exam;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>